<div id="header">
	<div class="menu">
		<div class="margen">
			<a href="{{ url:site }}" class="logo"></a>
			<ul id="nav">
			  <li><a href="{{ url:site }}biografia">Biografía</a></li>
			  <li><a href="{{ url:site }}blog">Blog</a></li>
			  <li><a href="{{ url:site }}fotografias">Fotografías</a></li>
			  <li><a href="{{ url:site }}perfil">Perfil</a></li>
			</ul>
			<div id="nav2">
				<a href="tienda.html" class="tienda"></a>
				<a href="https://www.facebook.com/marthaisabelbolanosoficial?fref=ts" class="facebook" target="_blank"></a>
				<a href="https://twitter.com/BolanosMartha" class="twitter" target="_blank"></a>
				<a href="http://instagram.com/marthaisabelii" class="instagram" target="_blank"></a>
			</div>
		</div>
	</div>
	<div class="bg"></div>
</div>