<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=1024, initial-scale=0, maximum-scale=0">
<meta name="description" content="">
<meta name="author" content="Javier Varón Saavedra ft Brayan Acebo">
<link rel="icon" href="favicon.ico">

<title>Martha Bolaños</title>
<base href="{{ url:base }}"/>

{{ theme:css file="mb.css" }}
{{ theme:css file="bootstrap.css" }}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

</head>
<body>

{{ theme:partial name="header" }}



{{ template:body }}
<!--<div id="fullpage">
	<div class="section " id="section0">
		<div class="intro">
			<div class="home-logo"></div>
		</div>
		<div class="home-flecha1"></div>
	</div>
	<div class="section" id="section1">
		<div class="home-seccion">
		    <div class="home-seccion-texto1">MIS PENSAMIENTOS</div>
		    <div class="home-seccion-texto2">Lorem ipsum dolor sit amet beatae vitae dicta sunt</div>
		    <div class="home-seccion-texto3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</div>
		    <a href="#" class="home-boton">Leer más</a><br>
		    <a href="#" class="home-boton">Blog</a>
	    </div>
	    <div class="home-flecha2"></div>
	</div>
	<div class="section" id="section2">
		<div class="home-seccion">
		    <div class="home-seccion-texto1">MI ACTUALIDAD</div>
		    <div class="home-seccion-texto2">Lorem ipsum dolor sit amet beatae</div>
		    <div class="home-seccion-texto3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</div>
		    <a href="#" class="home-boton">Ampliar información</a><br>
	    </div>
	    <div class="home-flecha2"></div>
	</div>
	<div class="section" id="section3">
		<div class="home-instagram">
			<div class="home-instagram-titulo">
				<div class="home-instagram-icono"></div>
				<div class="home-instagram-texto">marthaisabelii</div>
			</div>
			<div id="instafeed"></div>
		</div>
		<div class="home-redes">
			<div class="home-twitter">
				<div class="home-twitter-icono"></div>
				<div class="home-twitter-tweet"></div>
				<div class="home-twitter-nombre">@bolanosmartha</div>
			</div>
			<div class="home-facebook">
				<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fmarthaisabelbolanosoficial&amp;width=302&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=592465127460130" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:302px; height:290px;" allowTransparency="true"></iframe>
			</div>
		</div>
		{{ theme:partial name="footer" }}
	</div>
</div>-->


<!--{{ theme:js file="jquery.slimscroll.min.js" }}
{{ theme:js file="jquery.fullPage.js" }}
{{ theme:js file="instafeed.js" }}
{{ theme:js file="tweetie.min.js" }}
{{ theme:js file="main.js" }}-->
{{ theme:partial name="footer" }}
</body>
</html>