<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=1024, initial-scale=0, maximum-scale=0">
<meta name="description" content="">
<meta name="author" content="Javier Varón Saavedra ft Brayan Acebo">
<link rel="icon" href="favicon.ico">

<title>Martha Bolaños</title>
<base href="{{ url:base }}"/>

{{ theme:css file="mb.css" }}
{{ theme:css file="bootstrap.css" }}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

</head>
<body>

{{ theme:partial name="header" }}
{{ template:body }}

</body>
</html>